.cat-card {
  display: flex;

  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 1rem;
  max-width: 30%;
  flex-direction: column;
}

.cat-card__image {
  max-width: 100%;
  max-height: 350px;
}

.cat-card__info {
  padding: 1rem;
  width: 100%;
}

.cat-card__name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.cat-card__description {
  font-size: 1rem;
  color: #666;
}
